.photo {
    width: 20%;
    height: auto;
    float: left;
    margin: 20px;
    font-size:1.2em;
}

h1 {
    text-align: center;
}

h3 {
    padding-top:20px;
    margin: 20px;
    color: #00bf80;
}

p {
    color: #272727;
    font-size: 1em;
    margin-left: 50px;
}

.note {
    margin: 50px;
    color: #dd0a5b;
}