.wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-weight: bold;
}

.image-block {
    float: left;
    width: 30%;
    height: 340px;
    box-shadow: 0 10px 20px #474747, 0 -2px 6px #c0c0c0;
    overflow: hidden;
    background-color: #1e1c21;
    border-radius: 4px;
}

.image-block img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.description-block {
    float: right;
    width: 65%;
    height: auto;
    background-color: bisque;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 10px 20px #474747, 0 -2px 6px #c0c0c0;
}

.description-block h1 {
    padding: 30px;
    text-align: center;
    font-style: italic;
}

.description-block p {
    padding: 30px;
    color: #424242;
    font-size: 1.3em;
    font-style: italic;
}

.advantage-block {
    height: 250px;
    background-color: bisque;
    clear: both;
    border-radius: 4px;
    box-shadow: 0 10px 20px #474747, 0 -2px 6px #c0c0c0;
    margin-bottom: 30px;
    overflow: hidden;
}

.advantage-block h1 {
    padding-left: 20px;
    padding-top: 5px;
    text-align: left;
    font-size: 1.5em;
    font-style: italic;
}

.advantage-block ul {
    list-style: none;
    font-size: 1.2em;
    font-style: italic;
}

.advantage-block li {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.advantage-block ul li:before {
    content: '\2714';
    font-size: 2em;
    color: #424242;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        font-weight: normal;
    }
    h1 {
        padding: 5px !important;
    }
    .image-block {
        display: none;
    }
    .description-block {
        width: 100%;
        height: auto;
    }
    .description-block p {
        padding: 10px;
        margin: 0;
    }
    .advantage-block {
        height: auto;
    }
    .advantage-block li {
        display: block;
    }
}