body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, rgb(255, 228, 210), rgb(196, 196, 196));
}

h1 {
    text-align: center;
}

.main-menu {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    list-style: none;
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    position: sticky;
    top: 0;
    overflow: hidden;
    text-align: center;
}

.main-menu li {
    padding: 20px 20px;
    display: inline-block;
}

.main-menu li:hover {
    background-color: #2e2e2e;
}

.main-menu a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #474747;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    clear: both;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer img {
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    float: right;
}

.city {
    float: left;
    margin-left: 50px;
}

.contacts {
    float: right;
}

@media screen and (min-width:481px) and (max-width:768px) {
    body {
        font-size: 0.9em;
    }
    .main-menu {
        position: relative;
    }
    .main-menu li {
        width: 100%;
        text-align: center;
        padding: 7px 0 7px 0;
    }
    footer {
        padding: 0 !important;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.8em;
    }
    .main-menu {
        position: relative;
    }
    .main-menu li {
        width: 100%;
        text-align: center;
        padding: 8px 0 8px 0;
    }
    footer {
        padding: 0 !important;
    }
}