.post {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    color: #252525;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 10px 20px #474747, 0 -2px 6px #c0c0c0;
    overflow: hidden;
}

img {
    width: 25%;
    height: auto;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 4px;
    float: left;
}

h3 {
    color: #00bf80;
    font-size: 2em;
    text-align: center;
}

@media screen and (min-width:481px) and (max-width:768px) {
    .post {
        width: 100%;
        border-radius: 0;
    }
    img {
        margin: 5px;
    }
    p {
        font-size: 1em;
    }
    h1 {
        font-size: 1.1em;
        margin: 5px;
    }
    h2 {
        font-size: 1em;
        margin: 0;
    }
    h3 {
        font-size: 1.5em;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .post {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 0;
    }
    img {
        margin: 5px;
    }
    p {
        font-size: 1em;
    }
    h1 {
        font-size: 1.1em;
        margin: 5px;
    }
    h2 {
        font-size: 1em;
        margin: 0;
    }
    h3 {
        display: none;
    }
}