.comment {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: auto;
    color: #252525;
    font-size: 1.1em;
    border-radius: 4px;
    background-color: bisque;
    box-shadow: 0 10px 20px #474747, 0 -2px 6px #c0c0c0;
    overflow: hidden;
    padding-bottom: 20px;
}

.comment-avatar {
    width: 80px;
    height: 80px;
    float: left;
    margin: 20px;
    border-radius: 50%;
}

.comment-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment-author {
    font-weight: bold;
    font-size: 1em;
    margin-top: 20px;
}

.comment-date {
    margin: 10px 0 10px 20px;
    font-size: 0.9em;
    font-weight: bold;
}

.comment-text {
    padding: 10px;
}

.rating-result span {
    padding: 0;
    font-size: 2em;
    line-height: 1;
    color: lightgrey;
}

.rating-result>span:before {
    content: '\2605';
}

.rating-result>span.active {
    color: #f83e6d;
}

.all {
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(216, 216, 216);
    color: black;
    font-weight: bold;
    font-size: 0.8em;
}

.like, .dislike {
    border-right: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.like:hover, .dislike:hover {
    background-color: rgb(184, 183, 183);
}

.like-count, .dislike-count {
    padding-right: 5px;
    padding-left: 5px;
}

@media (max-width: 768px) {
    .comment {
        width: 100%;
        margin-bottom: 0;
    }
    .comment-avatar {
        width: 40px;
        height: 40px;
        margin: 5px;
    }
    .comment-author {
        margin: 5px;
    }
    .comment-date {
        margin-left: 5px;
    }
    .rating-result span {
        font-size: 0.9em;
    }
    h1 {
        font-size: 1.1em;
        margin: 5px;
        padding: 0;
    }
}