body {
    background-color: lightgray;
}

h1 {
    color: purple;
    text-align: center;
}

h2 {
    color: palevioletred;
    text-align: center;
}

h3 {
    color: purple;
    text-align: center;
}

p {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.lab-theme {
    text-align: center;
}

.name {
    text-align: right;
    color: magenta;
}

.year {
    text-align: center;
    color: mediumvioletred;
}